#outer {
    background-color: #bada55;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner {
    background-color: blue;
    color: rgb(219, 209, 209);
    width: 50%;
    height: 50%;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    color: red;
}